header {
	background-image: url(../img/header-background.jpg);
	background-position: center;
	background-size: 100% 100%;
}

nav {
	.navbar-brand {
		font-family: "Montserrat", bold;
		margin-left: 18.75%;
		color: white;
		font-size: 28px;
		font-weight: bold;
		cursor: default;
	}

	#menu {
		ul {
			margin-right: 18.75%;
		}

		.nav-item {
			&:not(last-child){
				padding-right: 12px;
			}
		}

		.nav-link {
			font-family: "Montserrat", regular;
			font-size: 14px;
			color: white;
			padding-bottom: 12px;
			border-bottom: 4px solid transparent;

			&:hover {
				color: #fce38a;
				border-bottom-color: #fce38a;
			}
		}
	}
}

header {
	#welcome-to-mogo {
		margin-top: 60px;
		color: white;

		h1 {
			font-family: "Kaushan Script", regular;
			margin-bottom: 16px;
		}

		p {
			font-family: "Montserrat", bold;
			font-weight: bold;
			font-size: 100px;
			line-height: 1;
		}

		hr {
			background-color: white;
			height: 3px;
			width: 60px;
			border: none;
			margin-top: 20px;
		}
	}

	div > button.btn {
		border: 3px solid white;
		border-radius: 0%;
		padding: 8px 30px 8px 30px;
		font-family: "Montserrat", bold;
		font-weight: bold;
		font-size: 14px;
		color: white;
		margin-top: 20px;
		margin-bottom: 80px;

		&:hover {
			color: #E98182;
		}
	}

	.bottom-header-navigation {
		.nav-link {
			color: #f8f0d2;
			font-family: "Montserrat", regular;

			hr {
				background-color: #f8f0d2; 
				width: 200px;
				height: 2px;
				border: none;
			}

			span {
				color: white;
				font-family: "Montserrat", bold;
				font-weight: bold;
			}

			&:hover {
				color: #ffffff;
				hr {
					background: rgb(243,129,129);
					background: -moz-linear-gradient(left,  rgba(243,129,129,1) 0%, rgba(243,129,129,1) 23%, rgba(241,129,127,1) 23%, rgba(246,127,131,1) 23%, rgba(240,130,133,1) 24%, rgba(246,128,128,1) 24%, rgba(243,130,126,1) 24%, rgba(238,129,134,1) 25%, rgba(255,255,246,1) 25%, rgba(255,254,255,1) 25%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 100%);
					background: -webkit-linear-gradient(left,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 23%,rgba(241,129,127,1) 23%,rgba(246,127,131,1) 23%,rgba(240,130,133,1) 24%,rgba(246,128,128,1) 24%,rgba(243,130,126,1) 24%,rgba(238,129,134,1) 25%,rgba(255,255,246,1) 25%,rgba(255,254,255,1) 25%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to right,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 23%,rgba(241,129,127,1) 23%,rgba(246,127,131,1) 23%,rgba(240,130,133,1) 24%,rgba(246,128,128,1) 24%,rgba(243,130,126,1) 24%,rgba(238,129,134,1) 25%,rgba(255,255,246,1) 25%,rgba(255,254,255,1) 25%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#ffffff',GradientType=1 );
				}
			}
		}
	}
}

main {
	#about-us-text {
		h4 {
			font-family: "Kaushan Script", regular;
			margin-top: 81px;
		}

		h2 {
			font-family: "Montserrat", bold;
			font-weight: bold;
		}

		hr {
			background-color: #f38181;
			height: 3px;
			width: 60px;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		p {
			font-family: "Roboto", regular;
			color: #999999;
			margin-bottom: 81px;
		}
	}

	#about-us-pictures {
	margin-bottom: 81px;

	h4{
		font-family: "Montserrat", bold;
		font-weight: bold;
		color: white;
		display: none;
	}

	img {
		display: none;
	}

	#devices {
		background-image: url("../img/about-us/devices.jpg");
		width: 380px;
		height: 250px;
		background-position: center;
		background-size: cover;

		&:hover {
			background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/about-us/devices.jpg");
			background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/devices.jpg");
			background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/devices.jpg");
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
			box-shadow: 12px 12px rgba(149, 225, 211, 1);
			transform: translateY(-13px);
			transition: linear 0.3s;
		}
	}

	#headphones {
		background-image: url(../img/about-us/headphones.jpg);
		width: 380px;
		height: 250px;
		background-position: 100% auto;


		&:hover {
			background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/about-us/headphones.jpg");
			background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/headphones.jpg");
			background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/headphones.jpg");
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
			box-shadow: 12px 12px rgba(149, 225, 211, 1);
			transform: translateY(-13px);
			transition: ease 0.5s;
		}
	}

	#camera {
		background-image: url(../img/about-us/camera.jpg);
		width: 380px;
		height: 250px;
		background-position: center;

		&:hover {
			background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/about-us/camera.jpg");
			background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/camera.jpg");
			background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/about-us/camera.jpg");
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
			box-shadow: 12px 12px rgba(149, 225, 211, 1);
			transform: translateY(-13px);
			transition: ease 0.5s;
		}
	}
}
	#facts {
		background-color: #95e1d3;

		>div {
			div {
				border-left: 1px solid #b5eae0;
				&:last-child {
					border-right: 1px solid #b5eae0;
				}
				p {
					font-family: "Montserrat", regular;
					color: white;
					font-size: 12px;

					span {
						font-family: "Montserrat", bold;
						font-weight: bold;
						font-size: 55px;
					}
				}
			}
		}
	}
}


main {
	#services {
		margin-bottom: 81px;
		#services-header {
			h4 {
				font-family: "Kaushan Script", regular;
				margin-top: 81px;
			}

			h2 {
				font-family: "Montserrat", bold;
				font-weight: bold;
			}

			hr {
				background-color: #f38181;
				height: 3px;
				width: 60px;
				border: none;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}

		#services-main {
			hr {
				width: 100%;
			}
		}
	}
}

main {
	#design {
		background-image: url(../img/design/design-background.jpg);
		height: 660px;
		background-position: center;
		background-size: cover;
		h4 {
			font-family: "Kaushan Script", regular;
			margin-top: 55px;
		}

		h2 {
			font-family: "Montserrat", bold;
			font-weight: bold;
		}

		hr {
			background-color: #f38181;
			height: 3px;
			width: 60px;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

main {
	#services2 {
		#services2-header {
			h4 {
				font-family: "Kaushan Script", regular;
				margin-top: 41px;
			}

			h2 {
				font-family: "Montserrat", bold;
				font-weight: bold;
			}

			hr {
				background-color: #f38181;
				height: 3px;
				width: 60px;
				border: none;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			p {
				font-family: "Roboto", regular;
				color: #999999;
				margin-bottom: 81px;
			}
		}
	}
}

#services2-main {
	#services2-main-photo {
		height: 310px;
		img {
			max-height: 100%;
			max-width: 100%;
			display: block;
		}
	}
	.card {
		a {
			font-family: "Montserrat", regular;
			font-size: 14px;
			color: #333333;
			font-weight: bold;

		}
		border-radius: 0%;
		.card-header {
			background-color: transparent;
			&:after {
				content: url(../img/services2/icons-accordion/arrow-up.png);
				float: right;
			}
		}
		.collapsed {
			&:after {
				content: url(../img/services2/icons-accordion/arrow-down.png);	
			}
		}
	}
}

main {
	.testimonial-carousel {
		margin-top: 81px;
		background-color: #f8f8f8;
		height: 210px;

		.carousel-item {
			margin-top: 150px;	
		}

		img {
			height: 75%;
		}

		.carousel-control-next-icon {
			background-image: url(../img/testimonials/arrow-right.png);
			width: 15px;
			height: 15px;
		}

		.carousel-control-prev-icon {
			background-image: url(../img/testimonials/arrow-left.png);
			width: 15px;
			height: 15px;
		}

		p {
			color: #999999;
			padding-left: 30px;
			font-family: "Roboto", light italic;
			font-style: italic;
			font-weight: 300;
			font-size: 18px;

			span {
				font-family: "Kaushan Script", regular;
				color: black;
			}
		}

		.red-line {
			background-color: #f38181;
			height: 3px;
			width: 60px;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

main {
	.our-team {
		.our-team-text {
			h4 {
				font-family: "Kaushan Script", regular;
				margin-top: 81px;
			}

			h2 {
				font-family: "Montserrat", bold;
				font-weight: bold;
			}

			hr {
				background-color: #f38181;
				height: 3px;
				width: 60px;
				border: none;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			p {
				font-family: "Roboto", regular;
				color: #999999;
				margin-bottom: 81px;
			}
		}
	}
}

main {
	.our-team {
		.our-team-pictures {

			li {
				background-color: #fce38a;
				border-right: 1px solid #f9bd87;
				height: 40px;
				width: 40px;

				&:last-child {
					border-right: 1px solid transparent;
				}

				&:hover {
					background-color: #f38181;
				}
			}

			#mathew {
				background-image: url("../img/our-team/mathew.jpg");
				width: 380px;
				height: 470px;
				background-position: center;
				background-size: cover;

				nav {
					display: none;
				}

				&:hover {
					background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/our-team/mathew.jpg");
					background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/mathew.jpg");
					background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/mathew.jpg");
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
					box-shadow: 12px 12px rgba(149, 225, 211, 1);
					transform: translateY(-13px);
					transition: linear 0.3s;
				}
			}

			#christopher {
				background-image: url(../img/our-team/christopher.jpg);
				width: 380px;
				height: 470px;
				background-position: 100% auto;

				nav {
					display: none;
				}


				&:hover {
					background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/our-team/christopher.jpg");
					background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/christopher.jpg");
					background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/christopher.jpg");
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
					box-shadow: 12px 12px rgba(149, 225, 211, 1);
					transform: translateY(-13px);
					transition: ease 0.5s;
				}
			}

			#michael {
				background-image: url(../img/our-team/michael.jpg);
				width: 380px;
				height: 470px;
				background-position: center;

				nav {
					display: none;
				}


				&:hover {
					background: -moz-linear-gradient(top, rgba(219,116,116,0.91) 0%, rgba(220,134,118,0.91) 26%, rgba(225,187,123,0.91) 75%, rgba(227,205,124,0.91) 100%), url("../img/our-team/michael.jpg");
					background: -webkit-linear-gradient(top, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/michael.jpg");
					background: linear-gradient(to bottom, rgba(219,116,116,0.91) 0%,rgba(220,134,118,0.91) 26%,rgba(225,187,123,0.91) 75%,rgba(227,205,124,0.91) 100%), url("../img/our-team/michael.jpg");
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8db7474', endColorstr='#e8e3cd7c',GradientType=0 );
					box-shadow: 12px 12px rgba(149, 225, 211, 1);
					transform: translateY(-13px);
					transition: ease 0.5s;
				}
			}

			.facebook a {
				background-image: url(../img/our-team/icons/facebook-pink.png);
				background-size: auto 50%;
				background-repeat: no-repeat;
				background-position: center;
				height: 100%;
				width: 100%;

				&:hover {
					background-image: url(../img/our-team/icons/facebook-white.png);
				}
			}

			.twitter a {
				background: url(../img/our-team/icons/twitter-pink.png);
				background-position: center;
				background-size: auto 50%;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;


				&:hover {
					background: url(../img/our-team/icons/twitter-white.png);
					background-position: center;
					background-size: auto 50%;
					background-repeat: no-repeat;
				}
			}

			.pinterest a {
				background: url(../img/our-team/icons/pinterest-pink.png);
				background-position: center;
				background-size: auto 50%;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;

				&:hover {
					background: url(../img/our-team/icons/pinterest-white.png);
					background-position: center;
					background-size: auto 50%;
					background-repeat: no-repeat;
				}
			}

			.instagram a {
				background: url(../img/our-team/icons/instagram-pink.png);
				background-position: center;
				background-size: auto 50%;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;

				&:hover {
					background: url(../img/our-team/icons/instagram-white.png);
					background-position: center;
					background-size: auto 50%;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

main .picture-captions {
	h5 {
		font-family: "Montserrat", regular;
		font-weight: bold;
		font-size: 14px;
	}

	p {
		font-family: "Roboto", light italic;
		font-style: italic;
		font-weight: 300;
		color: #999999;
	}
}

main .brands {
	background-color: #f8f8f8;
	margin-top: 81px;
}

main .work-text {
	h4 {
			font-family: "Kaushan Script", regular;
			margin-top: 81px;
		}

		h2 {
			font-family: "Montserrat", bold;
			font-weight: bold;
		}

		hr {
			background-color: #f38181;
			height: 3px;
			width: 60px;
			border: none;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		p {
			font-family: "Roboto", regular;
			color: #999999;
			margin-bottom: 81px;
		}
}

main .work-pictures {
	img {
		display: none;
	}
	h5 {
		color: #ffffff;
		padding-top: 15px;
		font-size: 17px;
		display: none;
	}

	p {
		color: #ffffff;
		display: none;
	}

  .man {
    width: 330px;
    height: 260px;
    background: url("../img/works/man.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/man.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/man.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/man.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
	    background-size: 100% auto;
	    background-repeat: no-repeat;
    }
  }

  .bridge {
    width: 330px;
    height: 260px;
    background-image: url("../img/works/bridge.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/bridge.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/bridge.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/bridge.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
	    background-size: 100% auto;
	    background-repeat: no-repeat;
    }
  }

  .roof {
    width: 330px;
    height: 260px;
    background-image: url("../img/works/roof.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/roof.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/roof.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/roof.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
	    background-size: auto 100%;
	    background-repeat: no-repeat;
    }
  }

  .inside-building {
    width: 330px;
    height: 260px;
    background-image: url("../img/works/inside-building.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/inside-building.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/inside-building.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/inside-building.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
	    background-size: 100% auto;
	    background-repeat: no-repeat;
    }
  }

  .jelly-fish {
    width: 410px;
    height: 520px;
    background-image: url("../img/works/jelly-fish.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/jelly-fish.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/jelly-fish.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/jelly-fish.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

  }

  .dome {
    height: 260px;
    width: 330px;
    background-image: url("../img/works/dome.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/dome.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/dome.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/dome.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
  }

  .skyscrapper {
    width: 330px;
    height: 260px;
    background-image: url("../img/works/building.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    &:hover {
    	background: -moz-linear-gradient(top, rgba(234,138,137,0.91) 0%, rgba(236,158,140,0.91) 28%, rgba(240,211,143,0.91) 76%, rgba(241,226,145,0.91) 100%), url("../img/works/building.jpg");
		background: -webkit-linear-gradient(top, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/building.jpg");
		background: linear-gradient(to bottom, rgba(234,138,137,0.91) 0%,rgba(236,158,140,0.91) 28%,rgba(240,211,143,0.91) 76%,rgba(241,226,145,0.91) 100%), url("../img/works/building.jpg");
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ea8a89', endColorstr='#e8f1e291',GradientType=0 );
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
  }
}
